:80 {

    route * {
     	header Access-Control-Allow-Origin *
    	header Access-Control-Request-Method GET
        root * /data/www/dist
        file_server browse
    }

    log {
        level DEBUG
    }

}